*{
    margin:0px;
    padding:0px;
}
#btn{
    height:90px;
    width:90px;
    background-color:cyan;
   }
#whole{
    display: flex;
    gap:30px;
    margin:auto;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    margin-top:100px;
}
#sccc{
    font-size: 20px;
    display:flex;
    flex-direction: row; 
    justify-content: center;
    align-self: center;
    gap: 10px;
    margin-top: 40px;
}
#coun0 {
    text-align: center;
}
#coun {
    text-align: center;
}        
#score{
    background-color:darksalmon;
    border-radius: 40px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 550px;
}
#res{
    text-align: center;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 24px;
}